body{
    background-image: url('imagens/wallpaper001.jpg');
}

div.quadrado{
    background-color: lightgray;
    height: 300px;
    width: 300px;
    display: inline-block;
    border-radius: 20px;
    border: 2px solid black;
}

div#q1{
    background-color: aqua;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}

div#q3{
    background-image: url('imagens/pattern003.png');
}